<h1>Products</h1>
<ul>
  {{#each todos}}
    <li>Name: {{hairProduct.name}}</li>
    <li>Description: {{hairProduct.description}}</li>
    <br>
  {{/each}}
</ul>

<a href="/products/new" class="btn btn-default">Create a new Curly Friend</a>
